@page
@model AddWorkspaceModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add Workspace";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Notifications</h5>
                </div>

                <div class="col">
                    <div class="circle">1</div>
                </div>
            </div>
            <hr>
            <p class="mt-2 mb-2">Text Notifications</p>
            <hr>

            <div class="mt-5 w-100"></div>
            <h5 class="font-italic text-left">Manage my reservations</h5>
            <hr>
            <a class="" asp-area="" asp-page="/Index">Logout</a>
        </div>

        <div class="col">
            <div class="row">
                <div class="pl-5 col-8">
                    <div class="card mt-2">
                        <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Add workspace</h4>
                        <form method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input id="txtLocationName" name="LocationName" class="form-control" type="text">
                                </div> <!-- form-group// -->

                                <div class="form-group">
                                    <label>Room</label>
                                    <input id="txtRoomName" name="RoomName" class="form-control" type="text">
                                </div>

                                <div class="form-group">
                                    <label>Number of square meters</label>
                                    <input id="txtSquareMeters" name="SquareMeters" class="form-control" type="number">
                                </div><!-- form-group// -->

                                <div class="form-group">
                                    <label>Length of 1 workstation</label>
                                    <input id="txtSquareMeters" name="Lengthws" class="form-control" type="number">
                                </div><!-- form-group// -->

                                <div class="form-group">
                                    <label>Width of 1 workstation</label>
                                    <input id="txtSquareMeters" name="Widthws" class="form-control" type="number">
                                </div><!-- form-group// -->
                                
                                <div class="form-group">
                                    <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-dark btn-lg">Save</button>
                                </div> <!-- form-group// -->    
                            </fieldset>    
                            @Model.Info                                                   
                        </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
  </div>
</div>

