@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Notifications</h5>
                </div>

                <div class="col">
                    <div class="circle">1</div>
                </div>
            </div>
            <hr>
            <p class="mt-2 mb-2">Text Notifications</p>
            <hr>

            <div class="mt-5 w-100"></div>
            <h5 class="font-italic text-left">Manage my reservations</h5>
            <hr>
            <a class="" asp-area="" asp-page="/Index">Logout</a>
        </div>
        <div class="col">
            <div class="row">
                <div class="pl-5 col-4 border-right">
                    <h4 class="font-weight-bolder pb-5">Locations</h4>
                    <div class="w-100">
                        <a asp-page="/AddWorkspace">Add workspace</a>
                    </div>
                    <div class="w-100">               
                        <a asp-page="/DeleteWorkspace">Delete workspace</a>
                    </div>
                </div>

                <div class="pl-5 col-4 border-right">
                    <h4 class="font-weight-bolder pb-5">Employees</h4>
                    <div class="w-100">               
                        <a asp-page="/AddEmployee">Add employee</a>
                    </div>

                    <div class="w-100">               
                        <a asp-page="/DeleteEmployee">Delete employee</a>
                    </div>
                </div>

                <div class="pl-5 col-4">
                    <h4 class="font-weight-bolder">Priorities</h4>
                </div>
            </div>

            <div style="height: 100px" class="w-100"></div>

            <div class="row">
                <div class="pl-5 col-8 border-right">
                    <h4 class="font-weight-bolder">Sign up</h4>
                    <div class="w-100">               
                        <a asp-page="/AddReservation">Add reservation</a>
                    </div>
                    <div class="w-100">               
                        <a asp-page="/DeleteReservations">Delete reservation</a>
                    </div>
                </div>
        
                <div class="pl-5 col-4">
                    <h4 class="font-weight-bolder">Settings</h4>
                    <div class="w-100">
                        <a href="" data-toggle="modal" data-target="#exampleModal">Logo</a>               
                    </div>
                    <div class="w-100">               
                        <a asp-page="/Priorities">Edit Priorities</a>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" asp-for="UploadedFile" name="Logo" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>     
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value="Submit" asp-page-handler="Submit" type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </form>
  </div>
</div>
