@page
@model IndexModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Notifications</h5>
                </div>

                <div class="col">
                    <div class="circle">1</div>
                </div>
            </div>
            <hr>
            <p class="mt-2 mb-2">Text Notifications</p>
            <hr>

            <div class="mt-5 w-100"></div>
            <h5 class="font-italic text-left">Manage my reservations</h5>
            <hr>

            <a class="" asp-area="" asp-page="/Index">Logout</a>
        </div>
        <div class="col">
            <div class="row">
                <div class="pl-5 col-4 border-right">
                    <h4 class="font-weight-bolder pb-5">Locations</h4>
                    <div class="w-100">
                        <a asp-page="/AddWorkspace">Add workspace</a>
                    </div>
                    <div class="w-100">               
                        <a asp-page="/DeleteWorkspace">Delete workspace</a>
                    </div>
                </div>

                <div class="pl-5 col-4 border-right">
                    <h4 class="font-weight-bolder pb-5">Employees</h4>
                    <div class="w-100">               
                        <a asp-page="/AddEmployee">Add employee</a>
                    </div>
                    <div class="w-100">               
                        <a asp-page="/DeleteEmployee">Delete employee</a>
                    </div>
                </div>

                <div class="pl-5 col-4">
                    <h4 class="font-weight-bolder">Priorities</h4>
                </div>
            </div>

            <div style="height: 100px" class="w-100"></div>

            <div class="row">
                <div class="pl-5 col-8 border-right">
                    <h4 class="font-weight-bolder">Sign up</h4>
                </div>

                <div class="pl-5 col-4">
                    <h4 class="font-weight-bolder">Settings</h4>
                </div>
            </div>
        </div>
  </div>
</div>

