@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="card d-flex align-content-center">
    <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <form>
        <div class="form-group">
            <label>Your email</label>
            <input name="" class="form-control" placeholder="Email" type="email">
        </div> <!-- form-group// -->
        <div class="form-group">
            <a class="float-right" href="#">Forgot?</a>
            <label>Your password</label>
            <input class="form-control" placeholder="******" type="password">

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->                                                           
    </form>
    </article>
    </div> <!-- card.// -->
</div>