@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="card mt-5">
        <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Login</h4>
        <form method="post">
            <div class="form-group">
                <label>Your email</label>
                <input id="txtEmail" name="Email" class="form-control" placeholder="Email" type="email">
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="#">Forgot?</a>
                <label>Your password</label>
                <input class="form-control" placeholder="Password" id="txtPassword" name="Password" type="password">
            </div>
            
            <div class="form-group">
                <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-dark btn-lg">Login</button>
            </div> <!-- form-group// -->    
        </form> 
        </article>
    </div> <!-- card.// -->
</div>