@page
@model NotificationsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Notifications";
}

<script src="~/lib/signalr.js"></script>

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left mt-4">Welcome @Model.userEmail</h4>
            <a class="mt-5 mb-5" asp-area="" asp-page="/EmployeeIndex">Back to home</a>
            <hr>
            <a class="mb-5" asp-area="" asp-page="/Index">Logout</a>
        </div>
        <div class="col">
            <div class="row">
                <p id ="output"></p>
                <div class="col-3 bg-light ml-5">
                    <h5 class="font-italic text-left">All Messages</h5>
                    <hr>
                    @foreach(var n in @Model.ShowNotification())
                    {                           
                        <tr>
                            <img class="img-fluid" src="/Images/Reservation.png"/>
                            <td>
                                @Html.DisplayFor(m => n.Datenow)
                                                                
                            </td>
                            <td>
                                @Html.DisplayFor(m => n.Bericht)
                                                                    
                            </td>
                        </tr>
                        <hr>                       
                    }
                    <hr>  
                </div>
            </div>
        </div>
    </div>
</div>


