@page
@model PrioritiesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add Employee";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light menuheight">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Menu</h5>
                    <div class="w-100">
                        <a asp-page="/Admin">Home</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Locations</h5>
                    <div class="w-100">
                        <a asp-page="/AddWorkspace">Add workspace</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteWorkspace">Delete workspace</a>
                    </div>
                    <h5 class="font-italic text-left mt-3">Employees</h5>
                    <div class="w-100">
                        <a asp-page="/AddEmployee">Add employee</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteEmployee">Delete employee</a>
                    </div>

                    <div class="w-100">
                        <a asp-page="/Message">Send general message</a>
                    </div>

                    <h5 class="font-italic text-left mt-3">Reservations</h5>
                    <div class="w-100">
                        <a asp-page="/AddReservation">Add reservation</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteReservations">Delete reservation</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Settings</h5>
                    <div class="w-100">
                        <a asp-page="/ChangeName">Company Name</a>    
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/OpeningHours">Opening hours</a>    
                    </div>
                    
                    <div class="w-100">
                        <a class="nav-link disabled" asp-page="/Priorities">Edit Priorities</a>
                    </div>

                    <hr>
                    <a class="mb-3 mt-5" asp-page="/Index">Logout</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="pl-5 col-8">
                    <div class="card mt-2">
                        <article class="card-body">
                        <h4 class="card-title mt-1">Change priority days</h4>
                        <a href="" data-toggle="modal" data-target="#exampleModal">Help</a> 
                            <form method="post">
                                <fieldset>
                                    <div class="form-group mt-4">
                                        <label>High</label>
                                        <input id="txtHigh" name="High" class="form-control" type="number" required>
                                    </div> <!-- form-group// -->

                                <div class="form-group">
                                    <label>Medium</label>
                                    <input id="txtMedium" name="Medium" class="form-control" type="number" required>
                                </div> <!-- form-group// -->

                                <div class="form-group">
                                    <label>Low</label>
                                    <input id="txtLow" name="Low" class="form-control" type="number" required>
                                </div> <!-- form-group// -->

                                <div class="form-group">
                                    <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-dark btn-lg">Save</button>
                                </div> <!-- form-group// -->    
                            </fieldset> 
                            @Model.Info                                              
                        </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <p>You can change the priorities of the reservation system here. 
                    You can change the number of days before someone can reserve a workplace. 
                    The default priorities are:
                </p>
                <p>High: always reserve</p>
                <p>Medium: reserve 7 days before the day</p>
                <p>Low: reserve 2 days before the day.</p>
                <p>
                    If you are not satisfied with the default days, you can adjust it using the form below. 
                    Enter the number of days before an employee can reserve with the correct priority.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
