@page
@model IndexModel
@{
    ViewData["Title"] = "User";
}
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left font-weight-bolder mt-4">Welcome User</h4>